.product--list {
    display: inline;
}
.product--item {
    display: inline-grid;
    padding: 20px
}
.product--item img {
    width: 150px
}


.cart--list {
    display: inline;
}
.cart--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.cart--item img {
    width: 150px;
}